header {
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: rgb(89, 61, 167);
    border: 2px solid #b97777;
    box-shadow: rgb(89, 61, 167) 5px 5px 20px 10px;
    
}
#titulo {
    font: bold 40px Lilita, Verdana, sans-serif;
    color:hsl(86, 89%, 48%);
    
}

#descripcion {
text-align: center;
width: 200px;
height: 100px;
overflow: scroll;
}

a {
    text-decoration: none;
    color:blue;
}

@font-face {
    font-family: Lilita;
    src: url("LilitaOne-Regular.ttf");
}