header {
    margin: 30px;
    padding: 20px;
    border: 10px solid;
    text-align: center;
    background-color: #e3fa16;
    filter: blur(1px);
    
}
#titulo {
    font: bold 40px Lilita, Verdana, sans-serif;
    color:hsl(0, 72%, 53%);
}

#descripcion {
text-align: center;
width: 200px;
height: 100px;
overflow: scroll;
}

a {
    text-decoration: none;
    color:blue;
}

@font-face {
    font-family: Lilita;
    src: url("LilitaOne-Regular.ttf");
}