header {
    margin: 30px;
    padding: 20px;
    text-align: center;
    background-color: #e3fa16;
    filter: drop-shadow(30px 30px 20px #b96f0e)
    
}
#titulo {
    font: bold 40px Lilita, Verdana, sans-serif;
    color:#b96f0e;
}

#descripcion {
text-align: center;
width: 200px;
height: 100px;
overflow: scroll;
}

a {
    text-decoration: none;
    color:blue;
}

@font-face {
    font-family: Lilita;
    src: url("LilitaOne-Regular.ttf");
}